<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" lang="zh-TW">
<!--page default Information-->
<!--html head-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1">
    <title>PowerBOMB人生不斷電馬拉松｜Power出你的能量</title>
    <meta name="description" content="登錄指定商品發票抽現金99,999、Switch遊戲機！挑戰PowerBOMB人生不斷電馬拉松還有機會抽中PS4等多項好禮！">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui=true">
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta itemprop="name" content="PowerBOMB人生不斷電馬拉松｜Power出你的能量">
    <meta itemprop="description" content="登錄指定商品發票抽現金99,999、Switch遊戲機！挑戰PowerBOMB人生不斷電馬拉松還有機會抽中PS4等多項好禮！">
    <meta itemprop="image" content="images/fb-share.png">
    <meta property="og:title" content="PowerBOMB人生不斷電馬拉松｜Power出你的能量">
    <meta property="og:description" content="登錄指定商品發票抽現金99,999、Switch遊戲機！挑戰PowerBOMB人生不斷電馬拉松還有機會抽中PS4等多項好禮！">
    <meta property="og:type" content="article">
    <meta property="og:image" content="images/fb-share.png">
    <link rel="Shortcut Icon" type="images/x-icon" href="images/fav_icon.ico">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    <script type="text/javascript" src="//cloudfront.loggly.com/js/loggly.tracker-latest.min.js" async></script>
    <script>
        var _LTracker = _LTracker || [];
        _LTracker.push({
            'logglyKey': '8016ea6d-fa64-4c93-bddb-461c5e78fd99',
            'sendConsoleErrors': true,
            'tag': 'comeBest2019running'
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfUo7MUAAAAAJQAML08ruhPeYZvihLYaVvtuYrJ"></script>
    <script>
        grecaptcha.ready(function() {
            console.log('%ccaptcha readay', 'color:red;')
        });
    </script>
    <script>
        dataLayer = [{}];
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KN7KXML');
    </script>
</head>
<!--html body-->

<body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KN7KXML" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="l-wrap" id="app" v-cloak>
        <nav class="nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <div class="l-container">
                <div class="nav-bd">
                    <h1 class="nav-logo"><a href="index.html" alt="LOGO" title="LOGO" gtm-data="menu_LOGO"></a></h1>
                    <div class="nav-btn"></div>
                    <div class="nav-menu" role="navigation">
                        <ul class="clearfix">
                            <li class="nav-item nav-item--iscurrent navinvoice"><a href="./invoice.html" itemprop="url" title="登錄發票" gtm-data="首頁選單_登錄發票"><span>登錄發票<img src="images/mb-nav-invoice.png"></span></a></li>
                            <li class="nav-item navgame"><a href="./game.html" itemprop="url" title="人生不斷電馬拉松" gtm-data="首頁選單_人生不斷電馬拉松"><span>人生不斷電馬拉松<img src="images/mb-nav-game.png"></span></a></li>
                            <li class="nav-item leaderboard"><a href="javascript:void(0)" data-link="./index.html#leaderboard" itemprop="url" title="不斷電排行榜" @click="scrollTo('#leaderboard')" gtm-data="首頁選單_不斷電排行榜"><span>不斷電排行榜<img src="images/mb-nav-leader.png"></span></a></li>
                            <li class="nav-item product"><a href="javascript:void(0)" data-link="./index.html#product" itemprop="url" title="能量補給站" @click="scrollTo('#product')" gtm-data="首頁選單_能量補給站"><span>能量補給站<img src="images/mb-nav-prod.png"></span></a></li>
                            <li class="nav-item event"><a href="javascript:void(0)" data-link="./index.html#readme" itemprop="url" title="活動辦法" @click="scrollTo('#readme')" gtm-data="首頁選單_能量補給站"><span>活動辦法<img src="images/mb-nav-readme.png"></span></a></li>
                            <li class="nav-item"><a href="./award.html" itemprop="url" title="得獎名單" gtm-data="首頁選單_得獎名單"><span>得獎名單<img src="images/mb-nav-award.png"></span></a></li>
                            <li class="nav-item fb"><a href="javascript:void(0)" itemprop="url" title="FB" @click="navfbshare" gtm-data="首頁選單_FB分享"><img src="images/icon-fb.png" alt="FB" gtm-data="首頁選單_FB分享"></a></li>
                            <li class="nav-item line"><a href="javascript:void(0)" itemprop="url" title="Line" @click="navlineshare" gtm-data="首頁選單_LINE分享"><img src="images/icon-line.png" alt="Line" gtm-data="首頁選單_LINE分享"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- render nav view-->
        <div class="l-main">
            <section class="index" v-cloak><img class="pc-only" src="images/pc-comkv.png"><img class="mb-only" src="images/mb-comkv.png"></section>
            <!--render main view-->
        </div>
        <transition name="fade">
            <div class="popup" v-show="popup">
                <div class="invsuccess" v-if="popPage=='invSuccess'">
                    <h2><img src="images/invsuccess-title.png"></h2>
                    <p>繼續登錄發票<br>提高更多中獎機會吧！</p><a class="btn-continue" href="javascript:void(0)" @click="again" gtm-data="登錄成功頁_繼續登錄"><img src="images/btn-continue.png"></a><a class="btn-play" href="./game.html" gtm-data="登錄成功頁_立即挑戰遊戲抽PS4"><img src="images/btn-play.png"></a>
                </div>
                <div class="sample" v-if="popPage=='sample'">
                    <div class="popupclose" @click="popClose"></div><img src="images/sample.png">
                </div>
                <div class="lotterySuc" v-if="popPage=='lotterySuc'">
                    <h2><img src="images/lotterySuc-title.png"></h2>
                    <p>現在參加登錄發票活動<br>再抽現金 <span class="white">NT.99,999</span></p><a class="btn-knowhow" href="./index.html#invoice" gtm-data="填寫完成頁_瞭解活動詳情"><img src="images/btn-knowhow.png"></a><a class="btn-gotoinv" href="./invoice.html" gtm-data="填寫完成頁_立即登錄發票"><img src="images/btn-gotoinv.png"></a>
                </div>
                <div class="gameload" v-if="popPage=='gameload'">
                    <div class="mdLoading">
                        <div class="loadingBox">
                            <div class="anibg"></div><img class="line2" src="images/loading-pic.gif">
                            <div class="progressBar"></div>
                            <div class="progress js-bar" style="width:0"></div>
                        </div>
                    </div>
                </div>
                <div class="weekaward" v-if="popPage=='weekaward'">
                    <div class="awardhd">
                        <div class="popupclose" @click="popClose"></div>
                    </div>
                    <div class="awardbd" v-if="popweek==1">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[0].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[0].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[0].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[0].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[0].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==2">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[1].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[1].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[1].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[1].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[1].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==3">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[2].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[2].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[2].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[2].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[2].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==4">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[3].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[3].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[3].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[3].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[3].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==5">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[4].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[4].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[4].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[4].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[4].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==6">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[5].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[5].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[5].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[5].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[5].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==7">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[6].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[6].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[6].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[6].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[6].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardbd" v-if="popweek==8">
                        <div class="awardblock bigaward">
                            <h2>Nintendo Switch</h2>
                            <div class="conbg" v-for="items in awardlist.awardweek[7].Switch">
                                <div class="mobile">{{ items.Mobile }}</div>
                                <div class="ticket">{{ items.ReferenceInfo }}</div>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>雙人威秀電影票</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[7].movTic">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>超商購物金200元</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[7].cash200">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2 class="haagen">Haagen Dazs 105元冰品</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[7].Haagen">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="awardblock">
                            <h2>連鎖餐飲套餐券</h2>
                            <div class="content">
                                <ul>
                                    <li v-for="items in awardlist.awardweek[7].coupon">
                                        <div class="mobile">{{ items.Mobile }}</div>
                                        <div class="ticket">{{ items.ReferenceInfo }}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="awardft"></div>
                </div>
            </div>
        </transition>
        <comingsoon :start_date="start_date" :mode_status="mode_status"></comingsoon>
    </div>
    <script type="text/x-template" id="comingsoon">
        <transition name="fade">
            <div class="comingsoon-main" v-if="comingsoon" key="comingsoon">
                <div class="pageblock comingsoon" v-if="comPage='comingsoon'">
                    <div class="comingsoon__box">
                        <div class="comingsoon__hd">
                            <h2 class="comingsoon__title"> <img src="images/kv-slogn.png" alt=""></h2>
                        </div>
                        <div class="comingsoon__bd">
                            <div class="counter">
                                <div class="days">
                                    <div class="value">{{date.days || '00'}}</div><span>日</span>
                                </div>
                                <div class="hours">
                                    <div class="value">{{date.hours || '00'}}</div><span>時</span>
                                </div>
                                <div class="minutes">
                                    <div class="value">{{date.minutes || '00'}}</div><span>分</span>
                                </div>
                                <div class="seconds">
                                    <div class="value">{{date.seconds || '00'}}</div><span>秒</span>
                                </div>
                            </div>
                            <p class="coming-text">coming soon</p>
                        </div>
                    </div>
                </div>
                <div class="pageblock comingsoon" v-if="comPage=='timeover'">
                    <h2>活動已結束!</h2>
                </div>
            </div>
        </transition>
    </script>
    <div class="l-footer footer">
        <div class="l-container">
            <p>Copyright © 2019 葡萄王生技股份有限公司 All Rights Reserved.</p>
        </div>
    </div>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/lib.js"></script>
    <script type="text/javascript" id="appjs" src="js/app.js?v=1686032555729" data-mode="false" data-site=""></script>
    <script src="js/index.js?v=1686032555729"></script>
</body>

</html>